<HTML>
    <HEAD>
    <TITLE>Contact Info</TITLE>
    </HEAD>
    <BODY>
        <HR>        
            Send me mail at <a href="mailto:saadi.kamel@gmail.com"> saadi.kamel@gmail.com</a>.        
        <HR>
    </BODY>
</HTML>